<h1>{{ album.title }}</h1>
    <p>Año de Lanzamiento: {{ album.release_year }}</p>
    <p>Género: {{ album.genre }}</p>
    <p>Artista: {{ album.artist.name }}</p>
    <img src="{{ album.portada.url }}" alt="Portada del álbum" width="200">
    <br>
    <a href="{% url 'album_update' album.pk %}">Editar</a>
    <form action="{% url 'album_delete' album.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'album_list' %}">Volver a la lista</a>