{% extends "base.html" %}

{% block content %}
    
    <div class="card" style="width: 18rem;">
    <img src="{{ album.portada.url }}" alt="Portada del álbum" width="250">
    <div class="card-body">
      <h5 class="card-title">{{ album.title }}</h5>
      <p class="card-text">Genero: {{ album.genre }}</p>
      <p class="card-text">Artista: {{ album.artist.name }}</p>
      <a href="{% url 'album_update' album.pk %}" class="btn btn-primary">Editar Información</a>
      <form action="{% url 'album_delete' album.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" >Eliminar</button>
    </form>
      <a href="{% url 'album_list' %}" class="btn btn-primary">Volver a la lista</a>
    </div>
  </div>

{% endblock content %}

